*{
  margin: 0;
  padding: 0;
}

body{
  background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),url(../images/pe/bg.jpg);
  background-size: cover;
}

.header{
  height: 10%;
}

.header-btn{
  text-decoration: none;
  border-radius: 30px;
  padding: 7px 20px;
  float: right;
  margin-top: 15px;
  color: #fff;
  background: #A9A9A9;
  font-weight: 600;
  position: relative;
  left: 150px;
}

.container a:hover{
  color: white;
}

.movie-details{
  margin: 3% 0;
}

.left-box{
  color: white;
  margin: 15px 0;
  padding: 20px;

}

.casting img{
  height: 100px;
  width: 75px;
  margin-right: 10px;
  cursor: pointer;
  box-shadow: -4px 4px 5px 0 black;
  transition: 1s;
}

.casting img:hover{
  transform: translateY(-10px);
}

.left-box a{
  text-decoration: none;
  border-radius: 30px;
  padding: 7px 10px;
  margin-top: 35px;
  color: #fff;
  background: #A9A9A9;
  font-weight: 600;
  display: inline-block;
  margin-right: 10px;
}

.movie-img{
  height: 350px;
  box-shadow: -4px 4px 5px 0 black;
  position: fixed;
  cursor: pointer;
}

h3{
  color: white;
}

.series img{
  width: 100%;
  margin-top: 15px;
  box-shadow: -4px 4px 5px 0 black;
  cursor: pointer;
  transition: 1s;
}

.series img:hover{
  transform: translateY(-10px);
}

.giphy{
  position: absolute;
  left: 680px;
  bottom: 450px;
}

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {
  transform: scale(1.2);
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 333px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #fff;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
